<!-- Template for App View -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [
            ['$$$', '$$$'],
            ['\\(', '\\)']
        ]
    }
});
</script>

<div class="container">
here's writing some code:

	function() {
		
	}

## Hello world

This is an exmaple of a chapter in markdown.

$$
a = b
$$

## Hello world

This is an exmaple of a chapter in markdown.

$$
a = b
$$
</div>
